<p>Dear <%= clientName %>,</p>
<p>Thank you for reaching out to us regarding <%= querySubject %>. We will get back to you within <%= responseTime %> hours.</p>
<p>Best regards,</p>
<p>The Business Team</p>
